REACT_APP_FIREBASE_API_KEY=AIzaSyA7ug8VGDeWtu6ZCNWzL7W_erXZZXOmd90
REACT_APP_FIREBASE_AUTH_DOMAIN=tinkdata-e4228.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=tinkdata-e4228
REACT_APP_FIREBASE_STORAGE_BUCKET=tinkdata-e4228.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=738350340959
REACT_APP_FIREBASE_APP_ID=1:738350340959:web:a56c53068868de289934ea

# 自定义配置
REACT_APP_APP_NAME=启发式思考系统
REACT_APP_DEFAULT_LANG=zh-CN
