REACT_APP_FIREBASE_API_KEY=AIzaSyBKYD3MjwI6DqzEO93hKPw85zxOTF_-kWQ
REACT_APP_FIREBASE_AUTH_DOMAIN=hisdate.firebaseapp.com  
REACT_APP_FIREBASE_PROJECT_ID=hisdate
REACT_APP_FIREBASE_STORAGE_BUCKET=hisdate.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=244026556093
REACT_APP_FIREBASE_APP_ID=1:244026556093:web:37437be10f843d4e1fc1d4

# 自定义配置
REACT_APP_APP_NAME=启发式思考系统
REACT_APP_DEFAULT_LANG=zh-CN
